<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest03_small_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{61,51}</string>
    <key>spriteSourceSize</key>
    <string>{62,52}</string>
    <key>textureRect</key>
    <string>{{0,2},{61,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,161}</string>
    <key>spriteSourceSize</key>
    <string>{199,161}</string>
    <key>textureRect</key>
    <string>{{0,55},{199,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,155}</string>
    <key>spriteSourceSize</key>
    <string>{193,155}</string>
    <key>textureRect</key>
    <string>{{201,55},{193,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{193,158}</string>
    <key>spriteSourceSize</key>
    <string>{193,161}</string>
    <key>textureRect</key>
    <string>{{0,218},{193,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{152,14}</string>
    <key>spriteSourceSize</key>
    <string>{152,27}</string>
    <key>textureRect</key>
    <string>{{63,2},{152,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,28}</string>
    <key>spriteSize</key>
    <string>{326,67}</string>
    <key>spriteSourceSize</key>
    <string>{326,125}</string>
    <key>textureRect</key>
    <string>{{0,378},{326,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-35}</string>
    <key>spriteSize</key>
    <string>{193,82}</string>
    <key>spriteSourceSize</key>
    <string>{193,152}</string>
    <key>textureRect</key>
    <string>{{195,218},{193,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,33}</string>
    <key>spriteSize</key>
    <string>{162,98}</string>
    <key>spriteSourceSize</key>
    <string>{162,163}</string>
    <key>textureRect</key>
    <string>{{0,447},{162,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,32}</string>
    <key>spriteSize</key>
    <string>{148,75}</string>
    <key>spriteSourceSize</key>
    <string>{148,141}</string>
    <key>textureRect</key>
    <string>{{164,447},{148,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{249,201}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,547},{249,201}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{241,193}</string>
    <key>spriteSourceSize</key>
    <string>{242,194}</string>
    <key>textureRect</key>
    <string>{{251,547},{241,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{241,197}</string>
    <key>spriteSourceSize</key>
    <string>{242,202}</string>
    <key>textureRect</key>
    <string>{{494,547},{241,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{189,31}</string>
    <key>spriteSourceSize</key>
    <string>{190,50}</string>
    <key>textureRect</key>
    <string>{{217,2},{189,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,36}</string>
    <key>spriteSize</key>
    <string>{408,84}</string>
    <key>spriteSourceSize</key>
    <string>{408,158}</string>
    <key>textureRect</key>
    <string>{{314,447},{408,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-44}</string>
    <key>spriteSize</key>
    <string>{241,103}</string>
    <key>spriteSourceSize</key>
    <string>{242,192}</string>
    <key>textureRect</key>
    <string>{{390,218},{241,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,41}</string>
    <key>spriteSize</key>
    <string>{202,122}</string>
    <key>spriteSourceSize</key>
    <string>{202,204}</string>
    <key>textureRect</key>
    <string>{{396,55},{202,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,41}</string>
    <key>spriteSize</key>
    <string>{184,94}</string>
    <key>spriteSourceSize</key>
    <string>{184,176}</string>
    <key>textureRect</key>
    <string>{{600,55},{184,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{241,193}</string>
    <key>spriteSourceSize</key>
    <string>{242,194}</string>
    <key>textureRect</key>
    <string>{{0,750},{241,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{241,197}</string>
    <key>spriteSourceSize</key>
    <string>{242,202}</string>
    <key>textureRect</key>
    <string>{{0,945},{241,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{189,31}</string>
    <key>spriteSourceSize</key>
    <string>{190,50}</string>
    <key>textureRect</key>
    <string>{{408,2},{189,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,36}</string>
    <key>spriteSize</key>
    <string>{408,84}</string>
    <key>spriteSourceSize</key>
    <string>{408,158}</string>
    <key>textureRect</key>
    <string>{{243,750},{408,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-44}</string>
    <key>spriteSize</key>
    <string>{241,103}</string>
    <key>spriteSourceSize</key>
    <string>{242,192}</string>
    <key>textureRect</key>
    <string>{{243,945},{241,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,41}</string>
    <key>spriteSize</key>
    <string>{202,122}</string>
    <key>spriteSourceSize</key>
    <string>{202,204}</string>
    <key>textureRect</key>
    <string>{{486,945},{202,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,41}</string>
    <key>spriteSize</key>
    <string>{184,94}</string>
    <key>spriteSourceSize</key>
    <string>{184,176}</string>
    <key>textureRect</key>
    <string>{{0,1144},{184,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{241,193}</string>
    <key>spriteSourceSize</key>
    <string>{242,194}</string>
    <key>textureRect</key>
    <string>{{653,750},{241,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{241,197}</string>
    <key>spriteSourceSize</key>
    <string>{242,202}</string>
    <key>textureRect</key>
    <string>{{690,945},{241,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{189,31}</string>
    <key>spriteSourceSize</key>
    <string>{190,50}</string>
    <key>textureRect</key>
    <string>{{599,2},{189,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,36}</string>
    <key>spriteSize</key>
    <string>{408,84}</string>
    <key>spriteSourceSize</key>
    <string>{408,158}</string>
    <key>textureRect</key>
    <string>{{186,1144},{408,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-44}</string>
    <key>spriteSize</key>
    <string>{241,103}</string>
    <key>spriteSourceSize</key>
    <string>{242,192}</string>
    <key>textureRect</key>
    <string>{{633,218},{241,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,41}</string>
    <key>spriteSize</key>
    <string>{202,122}</string>
    <key>spriteSourceSize</key>
    <string>{202,204}</string>
    <key>textureRect</key>
    <string>{{876,218},{202,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,41}</string>
    <key>spriteSize</key>
    <string>{184,94}</string>
    <key>spriteSourceSize</key>
    <string>{184,176}</string>
    <key>textureRect</key>
    <string>{{596,1144},{184,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{110,34}</string>
    <key>textureRect</key>
    <string>{{790,2},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_glow_bg_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-132,-17}</string>
    <key>spriteSize</key>
    <string>{102,47}</string>
    <key>spriteSourceSize</key>
    <string>{368,82}</string>
    <key>textureRect</key>
    <string>{{901,2},{102,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_shadow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{239,36}</string>
    <key>spriteSourceSize</key>
    <string>{240,36}</string>
    <key>textureRect</key>
    <string>{{1005,2},{239,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>getOrbsLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,75}</string>
    <key>spriteSourceSize</key>
    <string>{92,82}</string>
    <key>textureRect</key>
    <string>{{782,1144},{91,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_videoRewardBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{189,145}</string>
    <key>spriteSourceSize</key>
    <string>{190,146}</string>
    <key>textureRect</key>
    <string>{{1080,218},{189,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>plushies_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,1}</string>
    <key>spriteSize</key>
    <string>{186,104}</string>
    <key>spriteSourceSize</key>
    <string>{196,108}</string>
    <key>textureRect</key>
    <string>{{1271,218},{186,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopBG_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{960,640}</string>
    <key>spriteSourceSize</key>
    <string>{960,640}</string>
    <key>textureRect</key>
    <string>{{0,1240},{960,640}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_eye_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,36}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{1246,2},{36,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_eye_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{36,27}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{1284,2},{36,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_eye_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{36,17}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{1322,2},{36,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_eye_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{30,5}</string>
    <key>spriteSourceSize</key>
    <string>{30,14}</string>
    <key>textureRect</key>
    <string>{{1360,2},{30,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_eye_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,8}</string>
    <key>spriteSourceSize</key>
    <string>{32,8}</string>
    <key>textureRect</key>
    <string>{{1392,2},{31,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_hand_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,24}</string>
    <key>spriteSourceSize</key>
    <string>{42,24}</string>
    <key>textureRect</key>
    <string>{{1425,2},{42,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_head_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,66}</string>
    <key>spriteSourceSize</key>
    <string>{134,66}</string>
    <key>textureRect</key>
    <string>{{328,378},{134,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_jaw_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,50}</string>
    <key>spriteSourceSize</key>
    <string>{134,50}</string>
    <key>textureRect</key>
    <string>{{1469,2},{134,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_jaw_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,50}</string>
    <key>spriteSourceSize</key>
    <string>{134,50}</string>
    <key>textureRect</key>
    <string>{{464,378},{134,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_jaw_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,54}</string>
    <key>spriteSourceSize</key>
    <string>{134,54}</string>
    <key>textureRect</key>
    <string>{{600,378},{134,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_mouth_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,84}</string>
    <key>spriteSourceSize</key>
    <string>{84,84}</string>
    <key>textureRect</key>
    <string>{{875,1144},{84,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_pupil_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{736,378},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_pupil_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{14,8}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{752,378},{14,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper2_torso_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,74}</string>
    <key>spriteSourceSize</key>
    <string>{106,74}</string>
    <key>textureRect</key>
    <string>{{961,1144},{105,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_eye_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,36}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{768,378},{36,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_eye_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{36,27}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{806,378},{36,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_eye_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{36,17}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{844,378},{36,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_eye_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{30,5}</string>
    <key>spriteSourceSize</key>
    <string>{30,14}</string>
    <key>textureRect</key>
    <string>{{882,378},{30,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_eye_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,8}</string>
    <key>spriteSourceSize</key>
    <string>{32,8}</string>
    <key>textureRect</key>
    <string>{{914,378},{31,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_hand_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,24}</string>
    <key>spriteSourceSize</key>
    <string>{42,24}</string>
    <key>textureRect</key>
    <string>{{947,378},{42,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_head_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{134,78}</string>
    <key>spriteSourceSize</key>
    <string>{134,90}</string>
    <key>textureRect</key>
    <string>{{1068,1144},{134,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_jaw_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{134,37}</string>
    <key>spriteSourceSize</key>
    <string>{134,50}</string>
    <key>textureRect</key>
    <string>{{991,378},{134,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_jaw_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,50}</string>
    <key>spriteSourceSize</key>
    <string>{134,50}</string>
    <key>textureRect</key>
    <string>{{1127,378},{134,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_jaw_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,54}</string>
    <key>spriteSourceSize</key>
    <string>{134,54}</string>
    <key>textureRect</key>
    <string>{{1263,378},{134,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_mouth_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,84}</string>
    <key>spriteSourceSize</key>
    <string>{84,84}</string>
    <key>textureRect</key>
    <string>{{1204,1144},{84,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_pupil_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{1399,378},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_pupil_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{14,8}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{1415,378},{14,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper3_torso_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,74}</string>
    <key>spriteSourceSize</key>
    <string>{106,74}</string>
    <key>textureRect</key>
    <string>{{1290,1144},{105,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_eye_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,36}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{1431,378},{36,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_eye_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{36,27}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{1469,378},{36,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_eye_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{36,17}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{1507,378},{36,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_eye_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{30,5}</string>
    <key>spriteSourceSize</key>
    <string>{30,14}</string>
    <key>textureRect</key>
    <string>{{1545,378},{30,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_eye_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,8}</string>
    <key>spriteSourceSize</key>
    <string>{32,8}</string>
    <key>textureRect</key>
    <string>{{1397,1144},{31,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_hand_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,24}</string>
    <key>spriteSourceSize</key>
    <string>{42,24}</string>
    <key>textureRect</key>
    <string>{{1430,1144},{42,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_head_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,66}</string>
    <key>spriteSourceSize</key>
    <string>{134,66}</string>
    <key>textureRect</key>
    <string>{{724,447},{134,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_jaw_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,50}</string>
    <key>spriteSourceSize</key>
    <string>{134,50}</string>
    <key>textureRect</key>
    <string>{{860,447},{134,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_jaw_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,50}</string>
    <key>spriteSourceSize</key>
    <string>{134,50}</string>
    <key>textureRect</key>
    <string>{{996,447},{134,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_jaw_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,54}</string>
    <key>spriteSourceSize</key>
    <string>{134,54}</string>
    <key>textureRect</key>
    <string>{{1132,447},{134,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_mouth_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,84}</string>
    <key>spriteSourceSize</key>
    <string>{84,84}</string>
    <key>textureRect</key>
    <string>{{1474,1144},{84,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_pupil_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{1577,378},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_pupil_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{14,8}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{1560,1144},{14,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopKeeper_torso_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,72}</string>
    <key>spriteSourceSize</key>
    <string>{104,72}</string>
    <key>textureRect</key>
    <string>{{1268,447},{104,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-49}</string>
    <key>spriteSize</key>
    <string>{94,133}</string>
    <key>spriteSourceSize</key>
    <string>{100,232}</string>
    <key>textureRect</key>
    <string>{{1459,218},{94,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope2_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{27,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,42}</string>
    <key>textureRect</key>
    <string>{{1576,1144},{27,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope3_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-49}</string>
    <key>spriteSize</key>
    <string>{85,133}</string>
    <key>spriteSourceSize</key>
    <string>{92,232}</string>
    <key>textureRect</key>
    <string>{{786,55},{85,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope3_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{27,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,42}</string>
    <key>textureRect</key>
    <string>{{1374,447},{27,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopSign2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{282,174}</string>
    <key>spriteSourceSize</key>
    <string>{282,176}</string>
    <key>textureRect</key>
    <string>{{896,750},{282,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopSign3_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{278,178}</string>
    <key>spriteSourceSize</key>
    <string>{278,182}</string>
    <key>textureRect</key>
    <string>{{1180,750},{278,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopSign_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,17}</string>
    <key>spriteSize</key>
    <string>{275,140}</string>
    <key>spriteSourceSize</key>
    <string>{280,174}</string>
    <key>textureRect</key>
    <string>{{873,55},{275,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>storeDesk_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{927,389}</string>
    <key>spriteSourceSize</key>
    <string>{928,388}</string>
    <key>textureRect</key>
    <string>{{0,1882},{927,389}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>GJ_ShopSheet-hd.png</string>
   <key>size</key>
   <string>{1605,2273}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>GJ_ShopSheet-hd.png</string>
  </dict>
 </dict>
</plist>
